<!DOCTYPE html>
<html>

<!-- ACA ABAJO VOY A REQUERIR EL PARTIAL -->
<%- include("./partials/head.ejs") %>

<body>
    <!-- HEADER -->
    <header>
    <h1>ELEGI EL COLOR QUE MAS TE GUSTE!</h1>
    </header>
    <!-- MAIN de FORMULARIO -->
    <main class="">
    
        <h1> </h1>

    </main>

    <!-- FOOTER -->
    <footer>
    <h1>Y MIRA LO QUE PASA!!</h1>
    </footer>
    
</body>
</html>
